:root {
  --r-background-color: #041016; /* #092330; */

  --r-main-font: Arimo, sans-serif;
  --r-main-font-size: 24px;

  --r-heading-font: var(--r-main-font);
  --r-heading-text-transform: none;
  --r-heading-font-weight: 700;

  --r-link-color: #998fc7;
  --r-link-color-dark: #6b648b;
  --r-link-color-hover: #ada5d2;

  --r-heading-letter-spacing: -0.08em;
  --main-letter-spacing: -0.04em;
}

/* Tema */
.reveal .slides {
  text-align: left;
  letter-spacing: var(--main-letter-spacing);
}
.reveal .backgrounds {
  background: var(--r-background-color) url(./bg.jpg) center center repeat;
}

/* Tipografia */
h1:not(.title, :last-child) {
  --r-heading-margin: 0;
  --r-heading1-size: 1em;
  opacity: 0.5;
}
h1 > .ti {
  margin-left: -67px;
}
h2 > .ti {
  margin-left: -43px;
}
.reveal i:not(.ti), .reveal em {
  font-style: italic;
}

/* Componentes */
.reveal blockquote,
.reveal pre {
  width: 100%;
  margin: 0;
  padding: 0.8em;
  box-sizing: border-box;
}
ul.no-list {
  list-style-type: none;
  margin-left: 0;
}
.ti-square:before {
  animation: checkbox 1s ease forwards;
  animation-delay: calc(var(--i) * 1s);
  animation-iteration-count: 1;
}
@keyframes checkbox {
  0%, 89%   { content: "\eb2c"; }
  90%, 100% { content: "\eb28"; color: aquamarine; }
}

/* Layouts */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
  column-gap: 1em;
}
.d-flex.cols-2 > div {
  flex: 50% 0 1;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* First slide */
#first-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#first-slide > header > h1 {
  --r-heading1-size: 3em;
}
#first-slide > header > h1 > b {
  font-weight: 900;
  color: coral;
}
#first-slide > header > h2 {
  --r-heading2-size: 1em;
  opacity: 0.7;
}
#first-slide > .ti {
  font-size: 8em;
  color: bisque;
}

/* About me */
.about-me-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.about-me-links > a {
  background: rgba(255, 255, 255, 0.05);
  border: 1px #ffffff20 solid;
  border-radius: 3px;
  padding: 0.3em 0.5em;
}
.about-me-links > a:is(:hover, :focus) {
  border: 1px #ffffff80 solid;
}
.about-me-links > a > span {
  font-weight: 500;
}
