:root {
  --r-background-color: #01c194;
  --background-color-secondary: #373F47;

  --r-main-font: "Geist Mono", monospace;
  --r-main-font-size: 24px;
  --r-main-color: #ede7e3;

  --r-heading-color: #FF9B85;
  --r-heading-font: var(--r-main-font);
  --r-heading-text-transform: none;
  --r-heading-font-weight: 700;
  --r-heading1-size: 1.5em;

  --r-link-color: #FFD97D;
  --r-link-color-dark: #6b648b;
  --r-link-color-hover: #ada5d2;

  --color-highlight: #7EBCE6;
  --r-heading-letter-spacing: -0.08em;
  --main-letter-spacing: -0.04em;
  --radius: 10px;
  --color-green: var(--r-background-color);
  --color-red: #f16401;
}

/* Tema */
.reveal .slides {
  text-align: left;
  letter-spacing: var(--main-letter-spacing);
}
.reveal .slides {
  --padding-x: 25px;
  --padding-y: 20px;
  max-height: 530px;
  padding: var(--padding-y) var(--padding-x);
  border-radius: var(--radius);
  background: var(--background-color-secondary);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.reveal .slides:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: rgba(0, 0, 0, 0.15);
}
.reveal .slides:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background: rgba(0, 0, 0, 0.15);
  border-top-left-radius: var(--radius);
}
.reveal.first .slides:after,
.reveal.first .slides:before {
  top: auto;
  bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: var(--radius);
}
.reveal.first .slides:after {
  height: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: var(--radius);
}
.reveal.first .slides:before {
  width: 70px;
  height: 60px;
}
.reveal .slides > section {
  width: calc(100% - 50px);
  height: calc(100% - 45px);
}
.reveal .slide-number {
  opacity: 0.6;
  left: 8px;
  right: auto;
  bottom: 10px;
  border-radius: calc(var(--radius) / 2);
}

/* Tipografia */
h1:not(.title, :last-child) {
  display: none;
}
h1 > .ti,
h2 > .ti {
  display: inline-block;
  width: 1em;
  margin-right: 45px;
  color: var(--r-main-color);
  font-size: 2.5rem;
  vertical-align: middle;
}
.reveal i:not(.ti),
.reveal em {
  font-style: italic;
}
h1.title,
h2 {
  --r-heading-line-height: 50px;
  --r-heading-margin: 0 0 35px;
}
h2 {
  --r-heading2-size: var(--r-heading1-size);
}
.text-highlight {
  font-weight: 700;
  color: var(--color-highlight);
}
.fw-bold {
  font-weight: 700;
}
.green {
  color: var(--color-green);
}
.red {
  color: var(--color-red) !important;
}
li > .ti {
  color: var(--color-highlight);
}
section > a,
a.reference {
  font-size: 0.9em;
}
section > a:before,
a.reference:before {
  opacity: 0.5;
  content: "<";
}
section > a:after,
a.reference:after {
  opacity: 0.5;
  content: ">";
}

/* Componentes */
.reveal blockquote,
.reveal pre {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
}
.reveal pre {
  font-size: 0.75em;
}
code.hljs.language-yaml {
  white-space: pre-wrap;
}
.reveal blockquote,
.reveal code.hljs {
  padding: 0.8em;
  border-radius: var(--radius);
}
.reveal blockquote {
  font-size: 0.9em;
}
.reveal ul {
  margin-bottom: 15px;
}
ul.no-list {
  list-style-type: none;
}
img {
  --r-block-margin: 10px;
  border-radius: var(--radius);
}
ul.ul-spacing-md > li + li {
  margin-top: 0.5em;
}
code:not(.hljs) {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  font-size: 0.95em;
  color: var(--r-link-color-hover);
}
td {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.reveal .controls {
  color: var(--r-main-color);
  font-size: 8px;
}

/* Layouts */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
  column-gap: 1em;
}
.d-flex.cols-2 > div {
  flex: 50% 0 1;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.5em !important;
}
.mt-2 {
  margin-top: 1em !important;
}
.mt-3 {
  margin-top: 2em !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}

/* First slide */
#first-slide-section {
  height: 400px;
}
#first-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 0 5px 0 15px;
}
#first-slide > header > h1 {
  --r-heading1-size: 3em;
  --r-heading-font-weight: 800;
  --r-heading-line-height: 1.1;
}
#first-slide > header > h1 > b {
  font-weight: 900;
  text-decoration: underline;
  text-decoration-thickness: 7px;
}
#author {
  position: absolute;
  bottom: 0.7em;
  font-size: 1em;
  opacity: 0.7;
}
#author > i {
  margin-right: 30px;
}
#author > span {
  font-weight: 500;
}
.reveal:not(.first) > .slides > #author {
  display: none;
}

/* About me */
#profile-pic > img {
  margin-bottom: 0;
}
#profile-pic > figcaption {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
div + .about-me-links {
  margin-top: 5px;
}
.about-me-links {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 1em;
}
.about-me-links > a {
  background: rgba(255, 255, 255, 0.05);
  border: 1px #ffffff20 solid;
  border-radius: 3px;
  padding: 0.3em 0.5em;
}
.about-me-links > a:is(:hover, :focus) {
  border: 1px #ffffff80 solid;
}
.about-me-links > a > span {
  font-weight: 500;
}
.about-me-links > a > .ti {
  margin-right: 8px;
  vertical-align: text-bottom;
  line-height: 1.2;
}
